<!-- templates/download.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Download Processed Texts</title>
    <style>
        .button-style {
            display: inline-block;
            font-size: 20px;
            padding: 10px 20px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .button-style:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h1>Your files are ready for download</h1>
    <p>Click the button below to download the processed PDF files.</p>
    <!-- Use an anchor tag styled as a button -->
    <a class="button-style" href="{{ url_for('download_file', filename=zip_filename) }}" download>
        Download Files
    </a>
    <br><br>
    <!-- Button to return to the index page, also styled as a button -->
    <a class="button-style" href="{{ url_for('index') }}">
        Return to Home
    </a>
</body>

</html>