<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Clean Content</title>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon"/>
    <!-- For iPhone -->
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link href="/static/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/fonts/webfont/cryptocoins.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <link href="/static/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css" rel="stylesheet" type="text/css"
          media="screen">
    <link href="/static/assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen">
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <!-- CORE CSS TEMPLATE - END -->
    <style>
        thead tr {
            margin-left: 100px;
        }



          .result-table {
            margin-left: 300px;
          }

    </style>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class=" ">
<div id="app">
    <!-- START TOPBAR -->
    <div class='page-topbar'>
        <div>
            <h3 style="position: relative;left: 20px;top:6px">The Clean Content</h3>
        </div>
        <div class='quick-area'>
            <div class='pull-left'>

            </div>
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled" style="position:relative;top: -40px;">
                    <li class="profile">


                    </li>
                    <li class="chat-toggle-wrapper">
                        <a href="#" data-toggle="chatbar" class="toggle_chat">

                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

       <div class="page-sidebar fixedscroll">

        <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">

                <ul class='wraplist'>
                    <li class='menusection'></li>
                    <li class="open">
                        <a href="javascript:;" @click="index">

                            <span class="title">main</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="javascript:;">

                            <span class="title">Sensitive information filtering</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>


                    <li class="">
                        <a href="javascript:;" @click="FileUpdate">
                            <i class="fa fa-refresh"></i>
                            <span class="title">Sensitive information filtering</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;" @click="FileUpdateJpg">
                            <i class="fa fa-refresh"></i>
                            <span class="title">Sensitive information management</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>




                    <li class="">
                        <a href="javascript:;">

                            <span class="title">Individual center</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;" @click="UpdatePwd">
                            <i class="fa fa-refresh"></i>
                            <span class="title">Update password</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>





                    <li class="">
                        <a href="javascript:;" @click="logout">
                            <span class="title">log out</span>
                            <span class=""></span>
                        </a>
                        <ul class="sub-menu">

                        </ul>
                    </li>

                </ul>

            </div>
            <!-- MAIN MENU - END -->


        </div>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row" style="">

                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-lg-12">
                    <section class="box nobox marginBottom0">
                        <div class="content-body">

                            <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="clearfix"></div>


                <div class="col-lg-12">
                    <section class="box" style="height: 700px;overflow:auto">
                        <header class="panel_header">
                            <h2 class="title pull-left" style="font-size: 23px;color: black">Sensitive information filtering</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="javascript:;"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>


                        <form action="/passageupdate/" method="post" enctype="multipart/form-data" style="margin-left:30px">
                           {% csrf_token %}
                           <label for="message">Sensitive information identification：</label>
                                <br>
                            <textarea id="message" name="message" rows="1" cols="150"></textarea>
                            <img id="messageimg" style="height:300px;width:500px">

                            <div id="dropArea">Drag the image to this area</div>
                            <br>
                            <input type="submit" value="submit">


                        </form>








<!--                       <embed type="video/webm" src="/static/output.mp4" width="300" height="200">-->
<!--                        <iframe src="/static/logvisual.html" width="800" height="600"></iframe>-->


                        <div class="row">
                          <div class="col-xs-12">
                              <table border="1" class="result-table" style="width:50%;margin-left:30px;cellspacing:300px">
                                <tr>
                                    <th>id</th>
                                    <th>Filter statement</th>
                                    <th>Filter result</th>
                                </tr>
                                {% for n in detects %}
                                <tr>
                                    <td>{{ n.id }}</td>
                                    <td><img src="{{ n.detectcontent }}"></td>
                                    <td>{{ n.detectresult }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            </div>
                            </div>


                    </section>

                </div>

                <div class="clearfix"></div>


                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit">

            <div class="search-bar">
                <input type="text" placeholder="Search" class="form-control">
            </div>



        </div>

        <div class="chatapi-windows ">

        </div>
    </div>
</div>
<!-- END CONTAINER -->
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/static/assets/js/jquery.easing.min.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="/static/assets/plugins/pace/pace.min.js"></script>
<script src="/static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/assets/plugins/viewport/viewportchecker.js"></script>
<script>
    window.jQuery || document.write('<script src="../assets/js/jquery-1.11.2.min.js"><\/script>');
</script>
<!-- CORE JS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<script src="/static/assets/plugins/sparkline-chart/jquery.sparkline.min.js"></script>
<script src="/static/assets/js/chart-chartjs.js"></script>


<script src="/static/assets/js/dash-scripts.js"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="/static/assets/js/scripts.js"></script>
<!-- END CORE TEMPLATE JS - END -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script src="/static/js/axios/axios.min.js"></script>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            userss: ""
        },
        created() {
            this.userss = sessionStorage.getItem("username");
            if (this.userss == null) {
                alert("Sorry, you are not logged in yet");
                window.location.href = "http://127.0.0.1:8000/login/"
            }

        },
        methods: {

            index(){
                window.location.href = "http://127.0.0.1:8000/index/"
            },
            MyMessage() {
                window.location.replace("http://127.0.0.1:8000/href/pro/")
            },
            MySubject(){
                 window.location.replace("http://127.0.0.1:8000/href/subject/")
            },
            SelectSubject(){
                 window.location.replace("http://127.0.0.1:8000/href/subject2")
            },
            UpdatePwd(){
                 window.location.replace("http://127.0.0.1:8000/href/UpdatePwd/")
            },
            TeachInfo(){
                 window.location.replace("http://127.0.0.1:8000/pro/TeachInfo/")
                },
            FileDownload(){
                window.location.replace("http://127.0.0.1:8000/href/select2/")
                },
         FileUpdate(){
                window.location.replace("http://127.0.0.1:8000/href/passageupdate/")
            },
            FileUpdateJpg(){
                window.location.replace("http://127.0.0.1:8000/href/FileUpdateJpg/")
            },
            FileUpdateCam(){
                window.location.replace("http://127.0.0.1:8000/href/FileUpdateCam/")
            },
         OrdersShow(){
                window.location.replace("http://127.0.0.1:8000/garorder/")
            },
            NewsShow(){
                window.location.replace("http://127.0.0.1:8000/news/")
            },


            ScreenShow(){
                window.location.replace("http://127.0.0.1:8000/href/ScreenShow/")
            },
            // 退出
            logout(){
                this.userss == null
                window.location.replace("http://127.0.0.1:8000/login/")
            }
        }

    })
</script>

<script>
var textarea = document.getElementById('message');
var imgarea = document.getElementById('messageimg');
var dropArea = document.getElementById('dropArea');

dropArea.addEventListener('dragover', function(e) {
  e.preventDefault();
});

dropArea.addEventListener('drop', function(e) {
  e.preventDefault();

  var file = e.dataTransfer.files[0];

  var reader = new FileReader();
  reader.onload = function(event) {
    textarea.value += event.target.result;
    imgarea.src = event.target.result;
  };
  reader.readAsDataURL(file);
});


</script>
</body>

</html>
