<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Clean Content</title>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon"/>
    <!-- For iPhone -->

    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="/static/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link href="/static/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
    <!-- CORE CSS FRAMEWORK - END -->

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <link href="/static/assets/plugins/icheck/skins/all.css" rel="stylesheet" type="text/css" media="screen"/>

    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="/static/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <!-- CORE CSS TEMPLATE - END -->

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class=" login_page">

<div class="container-fluid" id="app">
    <div class="login-wrapper row">
        <div id="login"
             class="login loginpage col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-8">
            <div class="login-form-header">
                <img src="/static/data/icons/signup.png" alt="login-icon" style="max-width:64px">
                <div class="login-header">
                    <h3 class="bold color-black">Register</h3>
                    <h4>
                        <small style="color: black;">Please enter your data to register.</small>
                    </h4>
                </div>
            </div>

            <div class="box login">

                <div class="content-body" style="padding-top:30px">

                    <form id="msg_validate" action="#" novalidate="novalidate" class="no-mb no-mt">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="col-lg-6 no-pl">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" name="formfield2"
                                                   placeholder="input username" v-model="register_username">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 no-pl">
                                    <div class="form-group">
                                        <label class="form-label">password</label>
                                        <div class="controls">
                                            <input type="password" class="form-control" name="formfield2"
                                                   placeholder="input password" v-model="register_password">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 no-pr">
                                    <div class="form-group">
                                        <label class="form-label">confirm password</label>
                                        <div class="controls">
                                            <input type="password" class="form-control" name="formfield1"
                                                   placeholder="input password again" v-model="register_password_re">
                                        </div>
                                    </div>
                                </div>



                                <div class="pull-left">
                                    <a href="javascript:;"
                                       class="btn btn-primary mt-10 btn-corner right-15" style="position: relative;top: 22px;left: 14px;width: 200px" @click="register">register</a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <p id="nav">
                <span style="position: relative;left: 1074px;color: black"></span>
                <a class="pull-right" href="javascript:;" title="Sign Up" style="color: black" @click="login" >Login</a>
            </p>

        </div>
    </div>
</div>

<!-- MAIN CONTENT AREA ENDS -->
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/static/assets/js/jquery.easing.min.js"></script>
<script src="https://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="/static/assets/plugins/pace/pace.min.js"></script>
<script src="/static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/assets/plugins/viewport/viewportchecker.js"></script>

<script>
    window.jQuery || document.write('<script src="../assets/js/jquery-1.11.2.min.js"><\/script>');
</script>
<!-- CORE JS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

<script src="/static/assets/plugins/icheck/icheck.min.js"></script>
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE TEMPLATE JS - START -->
<script src="/static/assets/js/scripts.js"></script>
<!-- END CORE TEMPLATE JS - END -->
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script src="/static/js/axios/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            register_username: "",
            register_password: "",
            register_password_re: "",
        },
        methods: {


            // 注册
            register() {

                if (this.register_password != this.register_password_re) {
                    alert("两次输入的密码不一致")
                } else if (this.register_username === "" || this.register_password === "" || this.register_name === ""|| this.register_classname === ""
                    || this.register_password_re === "" || this.register_email === "" || this.register_phone === "") {
                    alert("输入框不能为空")
                } else {
                    axios.post('register/create/', {
                        register_username: this.register_username,
                        register_password: this.register_password,
                    })
                        .then(response => {
                            console.log(response.data)
                            if (response.data['code'] == 200) {
                                alert("注册成功")
                                this.register_username = ""
                                this.register_password = ""
                                this.register_password_re = ""

                            } else if (response.data['code'] == 444) {
                                alert("注册失败：用户已经存在/手机不正确")
                            }
                        }).catch(error => {
                        console.log(error)
                        alert("请求异常")
                    })
                }
            },
            // 登录跳转
            login(){
             window.location.href = "http://127.0.0.1:8000/login/"
            }
        },
    })
</script>
</body>

</html>